name: default_name
num_epoch: 1000
gpu: 1
valid_every: 10
log_every: 100
save_model_every: 20
checkpoint_filepath: false # false for no checkpoint

predict_illumination: true

defaults: 
  - data: full
  - loss: useall
  - trans: crop512

hydra:
  run:
    dir: ./
